div {
   width: 50%; 
   margin-left: 25%;
   margin-top: 5%;
   color: white;
   text-align: center;
   font-family: "Libre Baskerville", serif;
}


img {
    width: 100%;
    border: 5px solid white;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
body{
    background-color: black;
}
